<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <a href="/account" title="Manage your account">
        Welcome <%= locals.accountData && locals.accountData.account_firstname ? locals.accountData.account_firstname : 'Basic' %>
      </a>
      <a href="/account/logout" title="Log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>