/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#top-header {
  height: 7dvh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#top-header a {
  text-decoration: none;
  color: #000;
}

#top-header .siteName {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8px;
}

#top-header #tools {
  padding-right: 2%;
}

nav {
  height: 5dvh;
  width: 100%;
  background-color: #303030;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  background-color: #303030;
  height: 100%;
  padding-left: 0%;
}

nav li {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover {
  background-color: #000;
  cursor: pointer;
}

#main-container {
  margin: 8px;
}

#main-title {
  font-size: 1.3rem;
}

#hero {
  position: relative;
}

#hero-img {
  width: 100%;
}

#hero-text {
  background-color: #ffffff81;
  position: absolute;
  z-index: 1;
  top: 10%;
  color: rgb(0, 59, 168);
  padding-bottom: 1dvh;
}

#hero-text p {
  font-size: 1rem;
  margin: .5dvh 1dvh;
}

#button-container {
  display: flex;
  justify-content: center;
}

#hero-text button {
  width: 90%;
  text-align: center;
  background-color: rgb(0, 59, 168);
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 1dvh;
}

#hero-text button:hover {
  background-color: #000;
  cursor: pointer;
}

#reviews {
  margin-bottom: 5dvh;
  margin-top: 5dvh;
}

h3 {
  margin-bottom: 2dvh;
}

#reviews li {
  margin-bottom: 2dvh;
  font-size: .9rem;
}

#upgrades {
  margin-bottom: 5dvh;
  width: 100%;
}

#upgrade-rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5dvh;
}

#upgrade-container {
  width: 47%;
  text-align: center;
}

.img-container {
  width: 100%;
  height: 9dvh;
  background-color: rgb(0, 59, 168);
  margin-bottom: 1dvh;
  border: #000 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 5dvh;
  padding: 1dvw;
}

nav a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

#inv-display li {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303030;
}

#inv-display img {
  height: 6rem;
}

.namePrice h2 {
  text-align: center;
  margin-top: .6rem;
  margin-bottom: .4rem;
}

.namePrice h2 a {
  text-decoration: none;
  color: #fff;
}

.namePrice span {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  
}

#detailsMain {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.detailsImage {
  margin-top: 2rem;
}

.detailsImage img {
  width: 100%;
}

.detailsTitle {
  text-align: center;
}

.priceMileageContainer {
  margin-top: 1rem;
  background-color: #303030;
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mileageCont {
  text-align: center;
  margin-left: 1rem;
}

.mileageTitle {
  background-color: #fff;
  color: #000;
  padding: .2rem;
  margin-bottom: .3rem;
}

.priceCont {
  text-align: end;
}

.priceDetails {
  font-size: 1.8rem;
  font-weight: bold;
}

.legend {
  font-size: .7rem;
  margin-bottom: 1rem;
}

.detailsData {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.detailsInfo p {
  margin-bottom: .7rem;
}

.detailsButtons {
  margin-top: 1rem;
}

.detailsButtons button {
  width: 100%;
  display: block;
  padding: 1rem;
  border: none;
  text-align: center;
  margin-bottom: .7rem;
  cursor: pointer;
}

.purchaseButton {
  background-color: rgb(67, 115, 235);
  color: white;
  font-weight: bold;
}

.errorTitle {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}

.errorMessage {
  text-align: center;
}

h1 {
  padding: 20px;
}

#loginForm {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#loginForm label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#loginForm button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#loginForm p {
  color: #fff;
}

#loginForm a {
  color: #fff;
}

#loginForm span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#registerForm {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#registerForm input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#registerForm label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#registerForm button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#registerForm p {
  color: #fff;
}

#registerForm a {
  color: #fff;
}

#registerForm ul {
  width: 80%;
  color: white;
  text-align: left;
}

#registerForm span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#addClassification {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addClassification input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#addClassification label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#addClassification button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#addClassification p {
  color: #fff;
}

#addClassification span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#addInventory {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addInventory input, #addInventory textarea, #addInventory select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#addInventory textarea {
  height: 70px;
}

#addInventory label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#addInventory button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#addInventory p {
  color: #fff;
}

#addClassification span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#editInventory {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editInventory input, #editInventory textarea, #editInventory select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#editInventory textarea {
  height: 70px;
}

#editInventory label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#editInventory button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#editInventory p {
  color: #fff;
}

#deleteInventory {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deleteInventory input, #deleteInventory textarea, #deleteInventory select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#deleteInventory textarea {
  height: 70px;
}

#deleteInventory label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#deleteInventory button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#deleteInventory p {
  color: #fff;
}

#updateAccount {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5dvh;
}

#updateAccount input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#updateAccount label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#updateAccount button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#updateAccount p {
  color: #fff;
}

#updateAccount a {
  color: #fff;
}

#updateAccount ul {
  width: 80%;
  color: white;
  text-align: left;
}

#updateAccount span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#updatePassword {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#updatePassword input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#updatePassword label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#updatePassword button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#updatePassword p {
  color: #fff;
}

#updatePassword a {
  color: #fff;
}

#updatePassword ul {
  width: 80%;
  color: white;
  text-align: left;
}

#updatePassword span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#editReview {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editReview input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#editReview label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#editReview button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#editReview p {
  color: #fff;
}

#editReview span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#editReview input, #editReview textarea, #editReview select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#editReview textarea {
  height: 70px;
}

#deleteReview {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deleteReview input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#deleteReview label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#deleteReview button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#deleteReview p {
  color: #fff;
}

#deleteReview span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#deleteReview input, #deleteReview textarea, #deleteReview select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#deleteReview textarea {
  height: 70px;
}

#reviewList {
  border: 1px solid #303030;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review {
  margin-bottom: 40px;
}

.reviewer {
  font-size: small;
  margin-top: 5px;
}

.editReviewButton, .deleteReviewButton {
  margin-right: 20px;
  font-size: small;
}

#reviewAdd {
  background-color: #303030;
  padding: 20px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reviewAdd input {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#reviewAdd label {
  display: block;
  width: 80%;
  text-align: left;
  color: white;
}

#reviewAdd button {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

#reviewAdd p {
  color: #fff;
}

#reviewAdd span {
  display: block;
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: .7rem;
}

#reviewAdd input, #reviewAdd textarea, #reviewAdd select {
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#reviewAdd textarea {
  height: 70px;
}

.addReviewTitle {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 790px) {
  #content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-top: 5dvh;
  }

  #upgrades {
    width: 40%;
  }

  .img-container {
    height: 9dvh;
  }

  #reviews {
    width: 40%;
    margin-top: 0;
  }

  .img-container {
    height: 15dvh;
  }

  #upgrade-container {
    max-width: 20dvw;
  }

  #reviews li {
    margin-bottom: 3dvh;
    font-size: 1.2rem;
  }
  
  #hero-text {
    top: 30%;
    left: 5%;
    width: 30%;
  }

  #hero-img {
    width: 50%;
  }

  #hero {
    display: flex;
    justify-content: center;
  }

  nav {
    height: 8vh;
  }

  #main-title {
    font-size: 2rem;
  }

  #top-header {
    height: 12vh;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
  
  #inv-display li {
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #303030;
  }
  
  #inv-display img {
    height: 9rem;
  }
  
  .namePrice h2 {
    text-align: center;
    margin-top: .6rem;
    margin-bottom: .4rem;
  }
  
  .namePrice h2 a {
    text-decoration: none;
    color: #fff;
  }
  
  .namePrice span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
  }

  #detailsMain {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .detailsImage {
    width: 50%;
    margin-top: 3rem;
  }
  
  .detailsImage img {
    width: 100%;
  }

  #detailsMainData {
    width: 45%;
  }
  
  .detailsTitle {
    margin-top: 2rem;
    font-size: 1.9rem;
    text-align: start;
  }
  
  .priceMileageContainer {
    margin-top: 1rem;
    background-color: #303030;
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mileageCont {
    text-align: center;
    margin-left: 1rem;
  }
  
  .mileageTitle {
    background-color: #fff;
    color: #000;
    padding: .2rem;
    margin-bottom: .3rem;
  }
  
  .priceCont {
    text-align: end;
  }
  
  .priceDetails {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .legend {
    font-size: .7rem;
    margin-bottom: 1rem;
  }
  
  .detailsData {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  
  .detailsInfo p {
    margin-bottom: .7rem;
  }
  
  .detailsButtons {
    margin-top: 1rem;
  }
  
  .detailsButtons button {
    width: 100%;
    display: block;
    padding: 1rem;
    border: none;
    text-align: center;
    margin-bottom: .7rem;
    cursor: pointer;
  }
  
  .purchaseButton {
    background-color: rgb(67, 115, 235);
    color: white;
    font-weight: bold;
  }

  #loginForm {
    width: 50%;
  }

  #registerForm {
    width: 50%;
  }

  #addClassification {
    width: 50%;
  }

  #addInventory {
    width: 50%;
  }

  #editInventory {
    width: 50%;
  }

  #deleteInventory {
    width: 50%;
  }

  #updatePassword {
    width: 50%;
  }

  #updateAccount {
    width: 50%;
  }

  #editReview {
    width: 50%;
  }

  #deleteReview {
    width: 50%;
  }

  #reviewAdd {
    width: 50%;
  }

  #reviewList {
    width: 50%;
  }
}