<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <%- messages() %>

      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

          <form action="/inv/add-classification" method="post" name="add-classification" id="addClassification">
            <label for="classification_name">New Classification Name: </label>
            <span>The new classification name cannot contain a space or special character of any kind</span>
            <input type="text" id="classificationName" name="classification_name" pattern="^[A-Za-z0-9]+$"
              value="<%= locals.classification_name %>" required>
            <button type="submit">Create New Classification</button>
          </form>